@media (max-width:992px) {
    body {
    background: #FFFFFF;
    color: #000000;
    font-family: 'Source Serif Pro', serif;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
}

h1 {
    text-decoration-color: #F28C28;
}

h2 {
    text-decoration-color: #FFFF8F;
}

.h1 {
    text-decoration: underline;
    text-decoration-color: #F28C28;
}

@media (max-width:992px) {
    .about p {
        margin: 2em 0 0 0;
    }
}