body{
   font-family:Georgia, 'Times New Roman', Times, serif;
   border-style: solid;
   border-color: #328CFF;
   border-width: 5em;
}

h1{
    text-decoration: underline;
    text-decoration-color: #328CFF;
margin: 1em;
}

article{
    margin: 1em;
}
